html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 1.2em; }

.articlehead {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.1; }

p {
  font-size: 1em; }

a {
  font-weight: 200; }

li {
  margin: 10px; }

.btn {
  display: none; }

.container {
  margin-right: 400px; }

@media (max-width: 799px) {
  .btn {
    display: inline-block; }

  #l {
    display: inline;
    margin: 10px; }

  .adv {
    display: none; }

  .container {
    display: block;
    width: 100%; } }
.list {
  display: inline-block;
  padding: 1em 1em 1em 0px; }

.siteheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px; }

.logo {
  margin-left: 5.5%;
  padding: 1.25em 0px;
  width: 38.2%; }
  .logo #l {
    width: 100%;
    max-width: 250px;
    max-height: 90px; }

.btn {
  position: absolute;
  top: 2em;
  right: 1.5em;
  width: 140px; }

#btnmenu {
  height: 40px;
  width: 60px;
  background: #E95C33 none repeat;
  color: #FFF;
  float: left;
  border-radius: 5px;
  border: 2px black;
  margin-left: 15px;
  font-weight: bolder; }

#btnsearch {
  height: 40px;
  width: 50px;
  background: #E95C33 none repeat;
  color: #FFF;
  float: left;
  border-radius: 5px;
  border: 2px black;
  font-weight: bolder; }

main {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0; }

.container {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  border-bottom: 5px solid #41B7D8; }

.links:link {
  color: #41B7D8;
  text-decoration: none; }

.links:hover {
  text-decoration: underline; }

.articles {
  margin: 25px;
  padding-bottom: 80px;
  border-bottom: 5px solid #41B7D8; }

#author {
  padding: 0.7em 0.7em 0.7em 0px;
  border-bottom: 0.08em solid #e0e0e0; }

.content {
  line-height: 1.2em;
  padding: 1em 1em 1em 0px; }

.articleimg {
  width: 90%;
  max-width: 26.315em;
  height: auto; }

.read {
  margin: 2em 0px 0px;
  padding: 0.35em 0.65em;
  border: 0.08em solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125em;
  background-color: #41B7D8;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 1em 1em 1em 0px; }

.read:hover {
  border: 2px solid black; }

.adv {
  float: right;
  width: 400px;
  height: auto; }

.adv1 {
  float: left;
  width: 45%;
  padding: 2%; }

.adv2 {
  float: right;
  width: 45%;
  padding: 2%; }

.advimg {
  width: 100%; }

/*# sourceMappingURL=sm.css.map */
