html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  font-family: 'Roboto', sans-serif; }
  .container p, .container a {
    font-size: 1.1em;
    line-height: 1.5em; }
  .container header {
    font-size: 1.8em !important;
    font-family: "Inknut Antiqua"; }

.articlehead {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.1; }

p {
  font-size: 1em; }

a {
  font-weight: 200; }

li {
  margin: 10px; }

footer {
  font-size: .8em; }

#nextbtn {
  font-size: 1em; }

.navtags {
  font-size: .7em;
  letter-spacing: 3px; }

.headnav {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em !important; }

.adv {
  color: #d0d0d0; }

.slider {
  font-family: "Montserrat"; }

@media (max-width: 799px) {
  .siteheader {
    background-color: #eee; }

  .logo {
    margin-left: 5.5%;
    width: 38.2%; }

  .btn {
    display: inline-block; }

  #l {
    max-width: 250px;
    max-height: 90px;
    width: 100%;
    display: inline;
    margin: 10px; }

  #mymain {
    margin-top: 110px;
    width: 100%; }

  .adv {
    display: none; }

  .container {
    margin-top: 80px;
    padding-left: 28px;
    display: block;
    width: 95%; }

  .navtags {
    display: none; }

  .sidemenu {
    display: none; }

  .headnav {
    display: none; }

  .search {
    display: none; }

  .socialntw {
    display: none; } }
@media (min-width: 800px) {
  body {
    background-image: url(image/smbg.png); }

  .logo {
    margin-left: 10px;
    width: 16.5%;
    background-color: white;
    border-radius: 5px; }
    .logo #l {
      padding-left: 10%;
      width: 80%;
      height: 100%; }

  #mymain {
    top: 70px;
    width: 99%;
    margin-right: 0;
    padding-right: 0; }

  .adv {
    display: none; }

  .btn {
    display: none; }

  .container {
    background-color: white;
    margin-left: 10px; }

  .slide {
    display: none !important; }

  #ms {
    display: none; }

  #mn {
    display: none; }

  .navtags {
    display: none;
    padding-top: 80px;
    height: 50px; }

  .sidemenu {
    display: table; }

  .articles {
    margin-left: 200px; }

  .headnav {
    display: block; } }
@media (min-width: 1009px) {
  #mymain {
    width: 98%; }

  .adv {
    display: block; }

  .container {
    border-top-right-radius: 10px;
    margin-right: 400px;
    margin-left: 10px;
    padding-left: 20px; }

  .navtags {
    padding: 10px;
    display: block; }

  .sidemenu {
    display: none; }

  .articles {
    margin-left: 0px; }

  .search {
    display: none; }

  .search2 {
    display: block; }

  .news {
    display: block; }

  .socialntw {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 10px; }
    .socialntw img {
      opacity: .5;
      padding: 5px;
      width: 20px;
      height: auto; }
      .socialntw img:hover {
        opacity: 1; } }
.list {
  display: inline-block;
  padding: 1em 1em 1em 0px; }

.siteheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-image: url(image/smbg.png); }

.headnav {
  position: absolute;
  top: 0;
  left: 18%;
  width: 100px;
  height: 120px; }
  .headnav td {
    color: #a0a0a0;
    padding: 15px;
    padding-top: 40px;
    border-right: 1px solid #e0e0e0; }
    .headnav td:hover {
      background-color: yellow; }
  .headnav #ebook {
    background-image: url(image/navilittlebook.png);
    background-repeat: no-repeat;
    background-position: right top; }

.logo {
  padding: 1.25em 0px; }
  .logo #l {
    z-index: 1000; }

.btn {
  position: absolute;
  top: 2em;
  right: 1.5em;
  width: 140px; }

.socialntw {
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 10px;
  z-index: 10; }
  .socialntw img {
    opacity: .5;
    padding: 5px;
    width: 20px;
    height: auto; }
    .socialntw img:hover {
      opacity: 1; }

#btnmenu {
  height: 40px;
  width: 40%;
  background: #E95C33 none repeat;
  color: #FFF;
  float: left;
  border-radius: 5px;
  border: 2px black;
  margin-left: 15px;
  font-weight: bolder; }

#btnsearch {
  height: 40px;
  width: 30%;
  background: #E95C33 none repeat;
  color: #FFF;
  float: left;
  border-radius: 5px;
  border: 2px black;
  font-weight: bolder; }

.slide {
  position: relative;
  margin-top: -45px;
  left: -40px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 10px;
  display: none;
  background-image: url(image/smbg.png); }

#ms {
  color: #d0d0d0;
  font-size: 0.9em;
  width: 100%;
  height: 100px;
  padding-left: 5%; }
  #ms #searchbox {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding-left: 30px;
    width: 50%;
    height: 40px; }
  #ms #searchbtn {
    height: 44px;
    width: 38%;
    margin-left: -20px;
    background: #E95C33 none repeat;
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px black;
    font-weight: bolder; }

#mn {
  color: black;
  font-size: 0.9em;
  width: 100%;
  height: auto;
  padding-left: 5%; }
  #mn ul {
    width: 45%;
    margin-right: 10%; }
    #mn ul li {
      margin: 0;
      padding: 15px; }
      #mn ul li a {
        text-decoration: none;
        color: #41B7D8; }
  #mn ul :not(:first-child) {
    border-bottom: 1px solid #d0d0d0; }
    #mn ul :not(:first-child):hover {
      background-color: yellow;
      border-bottom: 1px solid #41B7D8; }

#mymain {
  position: absolute;
  right: 0;
  left: 0;
  height: auto;
  background-image: url(image/smbg.png); }

.container {
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  padding-top: 20px; }

.search {
  color: #d0d0d0;
  font-size: 0.9em;
  width: 100%;
  height: 100px;
  padding-left: 10px; }
  .search #searchbox {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding-left: 30px;
    width: 70%;
    height: 50px; }
  .search #searchbtn {
    height: 54px;
    width: 18%;
    margin-left: -20px;
    background: #E95C33 none repeat;
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px black;
    font-weight: bolder; }

.links {
  color: #41B7D8;
  text-decoration: none; }

.links:hover {
  text-decoration: underline; }

.articles {
  padding: 20px 20px 80px;
  border-bottom: 5px solid #41B7D8; }

#author {
  padding: 0.7em 0.7em 0.7em 0px;
  border-bottom: 0.08em solid #e0e0e0; }

.content {
  line-height: 1.2em;
  padding: 30px 1em 1em 0px; }

.articleimg {
  width: 90%;
  max-width: 26.315em;
  height: auto; }

.read {
  margin: 2em 0px 0px;
  padding: 0.35em 0.65em;
  border: 0.08em solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125em;
  background-color: #41B7D8;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 1em 1em 1em 0px; }

.read:hover {
  border: 2px solid black; }

.adv {
  float: right;
  width: 400px;
  height: auto; }

.news {
  color: black;
  line-height: 1.2em;
  padding-top: 10px;
  width: 90%;
  padding-left: 30px;
  background-color: #F8F8F8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  .news img {
    float: left; }
  .news header {
    font-size: 1.3em; }
  .news #email {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px; }
  .news #subscribebtn {
    height: 36px;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: -20px;
    background: #E95C33 none repeat;
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px black;
    font-weight: bolder; }

.search2 {
  color: #d0d0d0;
  font-size: 0.9em;
  width: 100%;
  height: 100px;
  padding-left: 15px;
  margin-top: -35px; }
  .search2 #searchbox {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding-left: 30px;
    width: 70%;
    height: 30px; }
  .search2 #searchbtn {
    height: 34px;
    width: 18%;
    margin-left: -15px;
    background: #E95C33 none repeat;
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px black;
    font-weight: bolder; }

.adv1 {
  float: left;
  width: 46%;
  padding: 2%;
  height: auto; }

.adv2 {
  float: right;
  width: 46%;
  padding: 2%;
  height: auto; }

.advimg {
  width: 100%; }

.divnum {
  word-spacing: 2em;
  line-height: 3em;
  padding: 40px;
  padding-left: 20%; }

footer {
  width: 95%;
  height: auto;
  margin-left: -20px;
  padding: 40px 50px 30px 50px;
  background: #eee none repeat scroll 0% 0%; }

#smashingbook {
  width: 20%;
  min-width: 100px;
  display: inline-block;
  padding: 0% 5% 5%; }

#smashinglib {
  width: 20%;
  min-width: 100px;
  display: inline-block;
  padding: 0% 5% 5%; }

#smashingwork {
  width: 20%;
  min-width: 100px;
  display: inline-block;
  padding: 0% 5% 5%; }

.footerimg {
  display: block;
  padding: 0% 5% 5%; }

#about {
  color: #888;
  padding: 100px 40px 20px; }

.next {
  color: #41B7D8;
  padding: 10px;
  text-decoration: none; }

.next:hover {
  background-color: #41B7D8;
  color: #fff;
  padding: 10px; }

#nextbtn {
  background: #E95C33 none repeat;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
  border: none; }

#nextbtn:hover {
  background-color: black;
  color: white; }

.menu {
  padding: 10px; }

.menu:not(:last-child) {
  border-right: 1px solid #ddd; }

.menu:hover {
  background-color: #FF6; }

#code {
  border-bottom: 4px solid #bdf; }
  #code:hover {
    border-bottom-color: #41B7D8; }

#design {
  border-bottom: 4px solid #cdeeaa; }
  #design:hover {
    border-bottom-color: #00ff00; }

#mobile {
  border-bottom: 4px solid #f9f0a8; }
  #mobile:hover {
    border-bottom-color: yellow; }

#graphics {
  border-bottom: 4px solid #E0C2E0; }
  #graphics:hover {
    border-bottom-color: #c3f; }

#ux {
  border-bottom: 4px solid #FFD6CC; }
  #ux:hover {
    border-bottom-color: #f30; }

#wp {
  border-bottom: 4px solid #bdf; }
  #wp:hover {
    border-bottom-color: #41B7D8; }

.sidemenu {
  position: absolute;
  top: 160px;
  left: 0px;
  width: 150px;
  height: auto;
  text-align: justify; }
  .sidemenu .sidemenubtns {
    font-size: .9em;
    width: 100%;
    padding: 5px;
    padding-left: 40px;
    line-height: 1.4em; }
    .sidemenu .sidemenubtns:hover {
      background-color: yellow; }
    .sidemenu .sidemenubtns a {
      color: grey;
      text-decoration: none; }

.coding {
  border-left: 8px solid #bdf;
  padding-bottom: 20px; }
  .coding:hover {
    border-left-color: #41B7D8; }

.design {
  border-left: 8px solid #cdeeaa;
  padding-bottom: 20px; }
  .design:hover {
    border-left-color: #00ff00; }

.mobile {
  border-left: 8px solid #f9f0a8;
  padding-bottom: 20px; }
  .mobile:hover {
    border-left-color: yellow; }

.graphics {
  border-left: 8px solid #E0C2E0;
  padding-bottom: 20px; }
  .graphics:hover {
    border-left-color: #c3f; }

.ux {
  border-left: 8px solid #FFD6CC;
  padding-bottom: 20px; }
  .ux:hover {
    border-left-color: #f30; }

.wp {
  border-left: 8px solid #bdf; }
  .wp:hover {
    border-left-color: #41B7D8; }

/*# sourceMappingURL=sm.css.map */
